* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    color: #0e0e0f;
    font-family: Helvetica, Arial, sans-serif;
    background-color:#eee;
}

.hero {
  background-image: url("../images/cat-hero\ .webp");
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.randomfacts {
  margin: 100px;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

form {
  margin-top: 65px;
}

header h1 {
  margin: 0;
}

.facts {
  min-height: 100px;
}

.randomfacts button {
  margin: auto;
}

.grid-x .small-6, .medium-4 {
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}

img {
  width: 300px;
  max-height: 300px;
  min-height: 300px;
}

.aler-div {
  background-color: rgb(248, 149, 149);
  padding: 5px;
}

h3 {
  color: #1779ba;
  font-weight: bolder;
}

h4 {
  
  font-size: medium;
  font-weight: bolder;
}

@media screen and (max-width: 575px) {
  .randomfacts {
      margin: 0;
  }

  .facts {
    min-height: 203px;
  }
}  
